<html>
<head>
<link rel="stylesheet" href="https://bootswatch.com/5/solar/bootstrap.min.css" />
<title>Node.Js and Passport App</title>
</head>
<body>
    <div class="container"></div>
<%- body %>
</div>
</body>
</html>